#show-contact {
  display: none;
}

.text-center {
  text-align: center;
}

.btn-get-rollin {
  margin-top: 40px;
}

.game-interface {
  margin-top: 50px;
}

.player-1-history li::before, .player-2-history li::before{
  content: "Round total = ";
}
